<h1>Recipe</h1>

<%= form_for @recipe_step do |f| %>

  <div>
      <%= f.label :step %>
      <%= f.text_field :step %>
  </div>

  <%= f.hidden_field :board_id, :value => params[:board_id] %>

  <%= f.submit "Create recipe" %>

<% end %>

<%= link_to "Back to board", recipe_steps_path %>
