<h1>Add a new board</h1>

<%= form_for @board do |f| %>

    <div>
        <%= f.label :name_of_food %>
        <%= f.text_field :name_of_food %>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
    </div>




    <%= f.submit "Add Board" %>

<% end %>

<%= link_to "Back to Cook Book", boards_path %>
