<h1>Add a new image</h1>

<%= form_for @image do |f| %>

<div>
  <%= f.label :url %>
    <%= f.text_field :url %>
</div>

<%= f.hidden_field :board_id, :value => params[:board_id] %>


<%= f.submit "Add image" %>

<% end %>

<%= link_to "Back to Cookbook", boards_path %>
